/*Common Styles*/
@font-face {
    font-family: 'Ticking Timebomb Ital';
    src: url('TickingTimebombBB_ital.ttf');
}

* {
    font-family: 'Ticking Timebomb Ital', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    background: #14213d;
    color: #e5e5e5;
    font-size: 1vw;
}

/*Main Styles*/
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.clock-wrapper {
    font-size: 10rem;
    margin: 0;
    opacity: 0;
}

.hour-clock-system {
    transition: opacity 0.10s linear;
}

.clock-value {
    transition: margin-right 0.35s ease-out;;
}

.switch-btn {
    color: #14213d;
    background: #e5e5e5;
    border-radius: 6px;
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.35s ease-in, color 0.35s ease-in-out;
}

.switch-btn:hover {
    background: #14213d;
    color: #e5e5e5;
    box-shadow: 0 0 5px #e5e5e5;
    cursor: pointer;
}

/*Responsiveness Styles*/
@media (max-width: 768px) {
    html, body {
        font-size: 6px;
    }
}
